.set-skills-table {
  width: 50%;
  height: 60vh;
}

.results-table {
  width: 50%;
  height: 60vh;
}

.set-searcher-area {
  display: flex;
  position: relative;
}

.set-searcher-settings {
  background: var(--color-dark);
  color: var(--color-text-light);
  padding: 0 10px;
  font-size: 20px;
  top: 500px;
  margin-right: 1rem;
}

.search-set {
  margin-top: 1rem;
  padding: 10px;
  width: 100%;
}

button {
  border: none;
  background: var(--color-grey);
  color: var(--color-black);
  transition: background 500ms ease, color 500ms ease;
}

button:hover {
  background: var(--color-black);
  color: var(--color-white);
}

@keyframes loading {
  /**
   * At the start of the animation the dot
   * has an opacity of .2
   */
  0% {
    opacity: .2;
  }
  /**
   * At 20% the dot is fully visible and
   * then fades out slowly
   */
  20% {
    opacity: 1;
  }
  /**
   * Until it reaches an opacity of .2 and
   * the animation can start again
   */
  100% {
    opacity: .2;
  }
}

.loading {
  /**
   * Use the blink animation, which is defined above
   */
  animation-name: loading;
  /**
   * The animation should take 1.4 seconds
   */
  animation-duration: 1.4s;
  /**
   * It will repeat itself forever
   */
  animation-iteration-count: infinite;
  /**
   * This makes sure that the starting style (opacity: .2)
   * of the animation is applied before the animation starts.
   * Otherwise we would see a short flash or would have
   * to set the default styling of the dots to the same
   * as the animation. Same applies for the ending styles.
   */
  animation-fill-mode: both;
}