html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --color-red: #e54b4b;
  --color-black: #080f0f;
  --color-white: #f8f8f8;
  --color-grey: #dcdcdc;

  --color-dark: #080f0f;
  --color-light: #f8f8f8;
  --color-text-dark: #1e1e24;
  --color-text-light: #fbfbfb;
  --color-text-link: #e54b4b;
}

a {
  color: var(--color-text-link);
  text-decoration: none;
}

.border-bottom {
  border-bottom: solid 2px var(--color-dark);
}

.container {
  margin: 10px;
}

.container > section {
  margin-bottom: 10px;
}

.sep {
  width: 1rem;
}
