.navbar {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 10px;
  width: 100%;
  margin-bottom: 1rem;
}

.navbar-item {
  color: var(--color-text-dark);
  margin-right: 10px;
}

.navbar-item:hover {
  color: var(--color-text-link);
}

.navbar-brand {
  color: var(--color-text-dark);
  display: inline-block;
  font-size: 20px;
  margin-right: 10px;
}
